{erl_opts, [debug_info]}.
{deps, [
%    {parse_trans, {git, "https://github.com/uwiger/parse_trans.git", {tag, "3.3.0"}}},
%    {statsderl, {git, "https://github.com/lpgauth/statsderl.git", {branch, "feature/multi-pool"}}},

    {crc32cer, {git, "https://github.com/zmstone/crc32cer.git", {tag, "0.1.10"}}},

    {erlavro, "2.9.7"},
    {flare, {git, "https://github.com/lpgauth/flare.git", {tag, "0.3.5-statsderl"}}},
    {brod, "3.16.3"},

    {erlkaf, ".*", {git, "https://github.com/silviucpp/erlkaf.git", "master"}}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [erlavro_test]}
]}.

{erl_opts, [
    debug_info,
    warnings_as_errors,
    {platform_define, "linux", 'LINUX'},
    {parse_transform, statsderl_transform}
]}.
