[

  {flare, [
    {broker_bootstrap_servers, [{"127.0.0.1", 29092}]}
  ]},

  {erlkaf, [

    {global_client_options, [
        {bootstrap_servers, <<"127.0.0.1:29092">>}
    ]},

    {clients, [
        {client_producer, [

            {type, producer},

            {topics, [
                {<<"benchmark">>, [{request_required_acks, 1}]}
            ]},

            {client_options, [
                {queue_buffering_max_messages, 10000}
            ]}
        ]}

    ]}
  ]}


].
