[

  {flare, [
    {broker_bootstrap_servers, [{"127.0.0.1", 29092}]}
  ]},

  {erlkaf, [

    {global_client_options, [
        {bootstrap_servers, <<"127.0.0.1:29092">>},
        {socket_keepalive_enable, true},
        {queue_buffering_overflow_strategy, local_disk_queue}
    ]},

    {clients, [
        {client_producer, [

            {type, producer},

            {topics, [
                {<<"benchmark">>, [{request_required_acks, 1}]}
            ]},

            {client_options, [
                {queue_buffering_max_messages, 10000}
            ]}
        ]}

    ]}
  ]},

    {brod, [
        {clients, [
            {kafka_client, [
                {endpoints, [
                    {"127.0.0.1", 29092}
                ]},

                {auto_start_producers, true},
                {reconnect_cool_down_seconds, 5},
                {default_producer_config, [{required_acks, 0}]}
            ]}
        ]}
    ]}

].
